.game-board 
    width: 300px
    height: 300px
    border: black solid 1px
    .raw
        display: flex
        .cell
            width: 100px
            height: 100px
            box-sizing: border-box
            border: black solid 1px
            span
                display: table-cell
                vertical-align: middle
                text-align: center
                font-size: 60px
                width: 100px
                height: 100px
